# while loop

In [1]:
i = 0
while i <5:
    print('the value of i',i)
    i+=1
print('Finished while loop')

the value of i 0
the value of i 1
the value of i 2
the value of i 3
the value of i 4
Finished while loop

In [2]:
num = 1
sum = 0
print("Enter a Number. Please Enter 0 to exit !")

while num != 0:
    
    num = float(input("Number ?"))
    sum = sum + num
    print('sum = ',sum)
else :
    print('Finished Sum')

Enter a Number. Please Enter 0 to exit !
Number ?4
sum =  4.0
Number ?5
sum =  9.0
Number ?6
sum =  15.0
Number ?7
sum =  22.0
Number ?8
sum =  30.0
Number ?9
sum =  39.0
Number ?0
sum =  39.0
Finished Sum

# For loop

In [11]:
A = [0,1,2,3,4,5] #list
B = (0,1,2,3,4,5) # tuple
C = {0,1,2,3,4,5} #set
D = '012345' #string
E = { 'name' : 'max', #Dictionary
     'age' : 22
    }

In [12]:
1 in A

True

In [13]:
2 in B

True

In [14]:
5 in C

True

In [15]:
'1' in D

True

In [17]:
for x in A:
    print(x)

0
1
2
3
4
5

In [18]:
for x in B:
    print(x)

0
1
2
3
4
5

In [21]:
for x in C:
    print(x)

0
1
2
3
4
5

In [22]:
for x in D:
    print(x)

0
1
2
3
4
5

In [24]:
for x in E.keys():
    print(x)

name
age

In [25]:
for x in E.values():
    print(x)

max
22

In [26]:
for key,value in E.items():
    print(key,value)

name max
age 22

In [30]:
for i in range(5,20,2):
    print('the vlaue of i',i)
    i+=1
print('Finished for loop')

the vlaue of i 5
the vlaue of i 7
the vlaue of i 9
the vlaue of i 11
the vlaue of i 13
the vlaue of i 15
the vlaue of i 17
the vlaue of i 19
Finished for loop

In [33]:
A = [10,21,32,43,54,45]

for x in A:
    if x ==32:
        break
    print(x)

10
21

In [38]:
A = [10,21,32,43,54,45]

for x in A:
    if x ==32:
        #print('32 is there')
        continue
    print(x)

10
21
43
54
45