
# Functions

In [1]:
#print() input() min() # build-in function

In [2]:
def sum(arg1,arg2):
    
    if type(arg1) != type(arg2):
        
        print('Please give args of same type')
        return 
    
    add = arg1+arg2
    print('The sum of these two numbers are',add)

In [3]:
sum(52,39)

The sum of these two numbers are 91

In [4]:
sum('hello',' World')

The sum of these two numbers are hello World

In [5]:
sum('hello', 23)

Please give args of same type

In [6]:
def sum(arg1,arg2):
    
    if type(arg1) != type(arg2):
        
        print('Please give args of same type')
        return 
    
    return arg1+arg2

sum(23.0,55.9)

78.9

In [7]:
def multiply(arg1,arg2):
    
    mul = arg1 * arg2
    
    return mul

multiply(36,45)

1620

In [8]:
def student(name='Unkown name',age=0):
    
    print('name',name)
    print('age',age)
    
student('max',20)

name max
age 20

In [9]:
student()

name Unkown name
age 0

In [10]:
student('tom')

name tom
age 0

In [11]:
#*marks use at the end of the parameters
#*marks gives as tuple
#**can provide multiple values as dictionary

def student(name,age,**marks):
    
    print('name',name)
    print('age',age)
    print('marks',marks)
    
    for key, values in marks.items():
        
        print(key, '', values)
    
    
student('max',20,english=88,math=66,physics=78)

name max
age 20
marks {'english': 88, 'math': 66, 'physics': 78}
english  88
math  66
physics  78

# lambda functions

In [12]:
# lambda functions

def double(x):
    
    return x*2

double(4)

8

In [13]:
def add(x,y):
    
    return x+y

add(4,7)

11

In [14]:
def product(x,y,z):
    
    return x*y*z

product(3,6,5)

90

In [15]:
double_lam = lambda x : x*2

In [16]:
add_lam = lambda x,y : x+y

In [17]:
product_lam = lambda x,y,z : x*y*z

In [18]:
double_lam(2)

4

In [19]:
add_lam(4,6)

10

In [20]:
product_lam(3,6,7)

126

## MAP function

In [21]:
#build-in function map

my_list1 = [12,59,46,78,93,231]
my_list2 = [112,514,446,758,913,2131]

double_map = map(lambda x:x*2,my_list1) 

print('Doubles the first list',list(double_map))

new_list = map(lambda x,y : x+y,my_list1,my_list2)

print('Adds the two list',list(new_list))

Doubles the first list [24, 118, 92, 156, 186, 462]
Adds the two list [124, 573, 492, 836, 1006, 2362]

## Filter function

In [22]:
filter_list = filter(lambda x:x%2==0,my_list1) #return only even numbers

print(list(filter_list))

[12, 46, 78]

In [23]:
filter_list2 = filter(lambda x:x>60,my_list1) #return value greater than 60
print(list(filter_list2))

[78, 93, 231]

## Reduce function

In [24]:
from functools import reduce #adds all the elements

my_list = [12,59,46,78,93,231,342,45]
reduce_fun = reduce(lambda x,y: x+y,my_list)

print(reduce_fun)

906